body{
      background-color: white;
}

.container {
      max-width: 100rem;
      margin-inline: auto;
      padding-inline: 2rem;
}

.main__title {
      font-family: Arial, Helvetica, sans-serif;
      color: blue;
      font-weight: 200;
      margin: 2rem;
}

.stacked {
      display: grid;
}

.stacked > * {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

}

.product-grid {
      display: grid;
      gap:.5rem;
      grid-template-columns:
      repeat(auto-fit, minmax(15rem, 1fr));
      

}

.card__content {
      background: white;
      align-self: end;
      margin: .5rem .5rem .1rem;
      padding: .5rem;
      padding: .5rem;
      box-shadow: 0 .25rem 1rem rgb( 0, 0, 0 / .1);
}

.card {
      aspect-ratio: 1 / 1.5;
      /* border: 3px solid hotpink; */
      
    
}

.card__img {     
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
}

.card__title {
      margin-top: 0;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.1;
      font-family: "Tac One", sans-serif;
      color: firebrick;
}

.card__price {
      font-size: 1.75rem;
}

@media (min-width: 40em) {
      .card__img {
            aspect-ratio: 1 / 1;
      }
      .card.featured {
            grid-row: span 2;
            grid-column: span 2;

      }

      .card.featured .card__img {
            aspect-ratio: 1 / 1.25;
      }

      .card.featured .card__title {
            font-size: 2.2rem;
      }
}